<div layout="row">
  <div flex="70">
    <div flex="grow" layout="column">
      <div flex="75" layout="row">
        <order-card flex="35" type="sell" primary="home_ctrl.primary" secondary="home_ctrl.secondary"></order-card>
        <div flex="15"></div>
        <order-card flex="35" type="buy" primary="home_ctrl.primary" secondary="home_ctrl.secondary"></order-card>
        <div flex="15"></div>
      </div>
      <div flex="70" layout="row">
        <offers-table flex="50" name="SUPPLY TABLE" type="sell" primary="home_ctrl.primary" secondary="home_ctrl.secondary"></offers-table>
        <offers-table flex="50" name="DEMAND TABLE" type="buy" primary="home_ctrl.primary" secondary="home_ctrl.secondary"></offers-table>
      </div>
    </div>
  </div>
  <div flex layout="column">
    <md-card flex="70">flex="70"</md-card>
    <md-card flex="10">trollbox</md-card>
    <md-card flex="10">flex="10"</md-card>
    <md-card flex="10">flex="10"</md-card>
    <md-card flex="10">flex="10"</md-card>

  </div>
</div>
