<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="login-input" ng-cloak="" layout-align="center center" layout="row">
  <md-content flex="20">
    <div layout="column">
      <md-button id="google-plus-btn" class="md-raised md-icon-float" ng-click="authenticate('google')">
        <i class="ion-social-googleplus"></i> Sign in with Google
      </md-button>
      <md-button id="twitter-btn" class="md-raised md-icon-float" ng-click="authenticate('twitter')">
        <i class="ion-social-twitter"></i> Sign in with Twitter
      </md-button>
      <md-button id="github-btn" class="md-raised md-icon-float" ng-click="authenticate('github')">
        <i class="ion-social-github"></i> Sign in with GitHub
      </md-button>
    </div>
    <hr>

    <form method="post" ng-submit="login()" name="loginForm">
      <div layout="column">
        <div layout="row" flex="grow">
          <md-input-container >
            <md-icon md-font-set="material-icons">email</md-icon>
            <input required ng-model="user.email" type="email" name="email" placeholder="Email">
            <div ng-if="!signupForm.email.$dirty" class="hint">Howdy do, y'all!</div>
            <div ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
              <div ng-message="required">Email is required.</div>
            </div>
          </md-input-container>
          <div flex="5"></div>
        </div>

        <div layout="row">
          <md-input-container class="md-icon-float" flex="grow">
            <md-icon md-font-set="material-icons">vpn_key</md-icon>
            <input required ng-model="user.password" type="password" name="password" placeholder="Password"
                   ng-required="true">
            <div ng-if="!signupForm.password.$dirty" class="hint">Do you have any cokes?</div>
            <div ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
              <div ng-message="required">Password is required.</div>
            </div>
          </md-input-container>
          <div flex="5"></div>
        </div>

        <md-button type="submit" class="rounded md-raised" ng-disabled="loginForm.$invalid" class="md-primary"> Log in
        </md-button>
      </div>

      <hr>

      <div layout="row" layout-align="center center">
        <p class="text-center text-muted">
        <h5> New user?</h5>
        </p>
        <md-button class="rounded md-raised" href="/#/signup" class="md-primary"> Sign
          up
        </md-button>
      </div>
    </form>

  </md-content>
</div>


