<md-card layout="row" flex="grow" md-whiteframe="5"  class="order-card"
         layout-padding>
  <div flex="grow">
    <div layout="row" layout-align="start start">
      <div flex="50"><h4 class="md-subhead"> You have:</h4></div>
      <div flex="50"><h4 class="md-subhead"> Lowest ask:</h4></div>
      </p>
    </div>
    <span layout="row"><hr flex/></span>

    <form method="post" ng-submit="createOrder()" name="form" layout="column">
      <md-input-container class="md-icon-float">
        <md-icon md-svg-src="/images/svg/BTC.svg"></md-icon>
        <input required ng-model="order.price" type="number" step="any" name="price" placeholder="Price">
        <div ng-if="!form.price.$dirty" class="hint">Enter the price in BTC for one ETH</div>
        <div ng-if="form.price.$dirty" ng-messages="form.price.$error">
          <div ng-message="required">Price is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-icon-float">
        <md-icon md-svg-src="/images/svg/ETH.svg"></md-icon>
        <input required ng-model="order.amount" type="number" step="any" name="amount"
               placeholder="Amount">
        <div ng-if="!form.amount.$dirty" class="hint">Amount of ETH you will sell</div>
        <div ng-if="form.amount.$dirty" ng-messages="form.amount.$error">
          <div ng-message="required">Amount is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-icon-float">
        <md-icon md-svg-src="/images/svg/BTC.svg"></md-icon>
        <input required ng-model="order.total" type="number" step="any" name="total" placeholder="Total">
        <div ng-if="!form.total.$dirty" class="hint">Total amount of BTC you will get</div>
        <div ng-if="form.total.$dirty" ng-messages="form.total.$error">
          <div ng-message="required">Total is required.</div>
        </div>
      </md-input-container>
      <span layout="row"><hr flex/><hr flex/></span>
      <md-button type="submit" class="rounded md-raised" ng-disabled="form.$invalid" class="md-primary">
        {{type}} ETH
      </md-button>
    </form>
  </div>
</md-card>
