.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.block {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.items {

}
@media (min-width: 768px) {
    .block {
        flex-direction: row;
    }
}